body{
    background-color: bisque;
}
.navbar{
    background-color: red;
}
.navbar a{
    color:white;
    font-size: 1.5rem;
}
.img2{
    height:25rem;
}
.txt{
    margin-top: 1rem;
    color:black;
    font-size: 2.2rem;
   }
.img3{
    height:15rem ;
}
.paragraf{
    font-size: 1.5rem;
    text-align: center;
    color:black;
    padding-top: 2rem;
   }
.p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
   }
   .footer
   {
    background-color: red;
    align-items: center;
   }
.txt2{
    font-size: 1.5rem;
}
.img4{
    height:25rem;
}
.form-control{
    border:1px solid black;
    border-radius: 0px;
}
.komentar{
    border:1px solid black;
}
.btn{
    background-color: white;
    border-radius: 0px;
    color:black;
    border:1px solid black;
}
.forma{
    margin-bottom: 25px;
}


